# Arquivos temporários do Visual Studio
vs/
obj/
bin/

# Arquivos de build
*.dll
*.pdb
*.exe

# Pacotes NuGet
*.nupkg
packages/

# Arquivos de publicação
*.pubxml
*.publishsettings

# Arquivos JSON
*.json

# Arquivos de projeto
*.csproj
