# Arquivos temporários do Visual Studio
vs/
obj/
bin/

# Arquivos de build
*.dll
*.pdb
*.exe

# Pacotes NuGet
*.nupkg
packages/

# Arquivos de publicação
*.pubxml
*.publishsettings

# Arquivos JSON dentro da pasta APICatalogo
APICatalogo/*.json

# Arquivos de projeto .csproj dentro da pasta APICatalogo
APICatalogo/*.csproj

# Arquivos HTTP (por exemplo, requisições e respostas HTTP) dentro da pasta APICatalogo
APICatalogo/*.http